@import "../../App.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .mapList {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 1200px;

    @include medium {
      gap: 2rem;
    }

    & .loading {
      border-radius: 3%;
    }

    .singleMap {
      width: clamp(300px, 90vw, 500px);
      max-height: 320px;
      position: relative;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &.loading {
        height: 320px;
      }

      .mapText,
      .loadingText {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: bold;
        color: white;
        border-radius: 3%;
      }

      .mapText {
        transition: all 300ms ease;
        visibility: hidden;
        opacity: 0;
      }

      .loadingText {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
      }

      img {
        width: 100%;
        border-radius: 3%;
        object-fit: cover;
      }

      &:hover {
        .mapText {
          // display: flex;
          visibility: visible;
          opacity: 1;
        }
      }

      .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}
