* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$breakpoints: (
  "small": 450px,
  "medium": 900px,
);

@mixin small {
  @media (min-width: map-get($breakpoints, "small")) {
    @content;
  }
}

@mixin medium {
  @media (min-width: map-get($breakpoints, "medium")) {
    @content;
  }
}

.layout-div {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
