.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .gameInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;

    div {
      flex: 1;
    }

    .timerDiv {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.5rem;
    }

    .characterDisplay {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;

      img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: contain;
        border: 1px solid #333;
      }
    }

    .playerMessage {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  .imgDiv {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      object-fit: fill;
      pointer-events: all;
    }

    .popup {
      position: absolute;
      display: none;
      gap: 5px;

      .popupCircle {
        align-self: flex-start;
        justify-self: flex-start;
        border-radius: 50%;
        //TODO: adjust size by media query
        height: 50px;
        width: 50px;
        border: 4px solid black;
      }
      .popupButtons {
        display: flex;
        flex-direction: column;
        background-color: rgba(224, 224, 224, 0.75);
        padding: 12px 17px;
        gap: 5px;
        border-radius: 0.5rem;

        button {
          cursor: pointer;
          font-size: 0.9rem;
          font-weight: 600;
          padding: 5px 7px;
          color: white;
          background-color: rgb(72, 72, 218);
          border: 1px solid rgb(72, 72, 218);
          border-radius: 0.25rem;

          &:hover {
            background-color: rgb(62, 62, 187);
          }
        }
      }
    }
  }
}
